.card {
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    max-width: 100%;

    @media (prefers-color-scheme: light) {
        background-color: $surface-color;
        color: $adc-text-color;
    }
    @media (prefers-color-scheme: dark) {
        background-color: $surface-color-dark-mode;
        color: $adc-text-color-dark-mode;
    }
}


.st-card--full-width {
    width: 100%;
}