.card_body {
    //@extend .grid-x;
    display: flex;
    width: 100%;


    padding: 10px;
}
.card_cell {
   display: flex;
   flex: 1 1 auto;
   flex-direction: column;
}
.st_card__cell--border-bottom {
    border-bottom: 2px solid $gray-80;
}
.st_card__body--has-loader {
    justify-content: center;
}
.st-card__body--full-height {
    height: 100%;
}