.card {
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    width: 100%;
    padding: 0 30px;
    @media only screen and (min-width: $bp-medium) {
        width: 80%;
    }
    @media only screen and (min-width: $bp-large) {
        width: 50%;
    }
    @media (prefers-color-scheme: light) {
        background-color: $surface-color;
        color: $adc-text-color;
    }
    @media (prefers-color-scheme: dark) {
        background-color: $surface-color-dark-mode;
        color: $adc-text-color-dark-mode;
    }
}


.st-card--full-width {
    width: 100%;
}