@import "../breakpoints";
.layout {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: center;
    padding: 20px;

    @media only screen and (min-width: $bp-medium) {
        padding: 40px;
    }
    @media only screen and (min-width: $bp-large) {
        padding: 40px 80px;
    }
    @media only screen and (min-width: $bp-xlarge) {
        padding: 50px 100px;
    }
}

.content {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}